.bestseller {
    background-color: #fefbf4;
    a,
    span {
        width: 95%;
    }
    .name__product {
        width: 75%;
    }
    .bestseller__title {
        width: 40%;
        .tit {
            width: 100%;
        }
    }
    .bestseller__list,
    .ingredientstory__list {
        width: 60%;
        position: relative;
        padding: 0;
        .bestseller__item {
            gap: 1rem;
        }
        .bestseller__item-cart {
            width: 95%;
        }
    }
}
.ingredientstory__list {
    .slick-prev,
    .slick-next {
        top:40%
    }
}
//
.banner__second {
    width: 90%; /* Thiết lập chiều rộng là 80% */
    display: block; /* Đảm bảo hình ảnh được hiển thị như một khối */
    margin: 0 auto !important;
}
.h2-tit {
    font-size: 3.8rem;
    width: 90%;
    letter-spacing: -2px;
}
.cart {
    button {
        border-radius: 4px;
        border: none;
        width: 4rem !important;
        height: 4rem !important;
        background-color: #ede0cc;
    }
    svg {
        font-size: 100%;
    }
}
